<link rel='stylesheet' type='text/css' href="../../../static/users/css/tailwind.css">
<link href="http://fonts.cdnfonts.com/css/lovelo" rel="stylesheet">
<div class='text-center mt-56 font-bold text-white'>
<h1 style='font-size: 200px; color: white; font-family: Lovelo; line-height: 200px;' >Lost?</h1>
<p style='color: white; margin-bottom: 20px;'>It seems like you went to a place that does not exist</p>
<center>
    <button id='forms-btn' type='submit' style='color: white; ' onclick='window.location.href="/"'
                    class='w-52 transition bg-blue1 hover:bg-blue2 text-white py-2 px-4 rounded-lg  mt-2'>
                    <p class='text-white font-semibold'>Go Home</p>
                </button>
</center>
</div>

<style>
    body{
        background-color: #1f1f1f;
    }
    
</style>
