<link rel='stylesheet' type='text/css' href="../../../static/users/css/tailwind.css">
<div class='text-center mt-72 font-bold text-white'>
<h1 style='font-size: 200px; color: white; font-family: Poppins;' class='text-white'>Lost?</h1>
<center>
    <button id='forms-btn' type='submit' style='color: white;' onclick='window.location.href="/"'
                    class='w-52 transition bg-blue1 hover:bg-blue2 text-white py-2 px-4 rounded-lg  mt-2'>
                    <p class='text-white font-semibold '>Go Home</p>
                </button>
</center>
</div>

<style>
    body{
        background-color: #272727;
    }
</style>
