{% extends 'users/base.html' %}

{%block content%}

    <h1 class="text-6xl text-center mt-20"><strong>About</strong></h1>
    <h1 class='mx-auto text-center text-4xl mt-10 mb-2'><strong>Who We Are</strong></h1>
    <p class='mx-auto text-center max-w-3xl mt-4'>We are Smithtown East Math Honor Society, the largest club in High School East. We help the school and community through activities and events such as tutoring at the elementary, middle and high school levels.</p>

    <h1 class='mx-auto text-center text-4xl mt-10 mb-2'><strong>Mentors</strong></h1>
    <ul class='text-center'>
        <li>Mrs. Boccio-McComb</li>
        <li>Mrs. Schoepflin</li>
    </ul>

    <h1 class='mx-auto text-center text-4xl mt-10 mb-2'><strong>Officers</strong></h1>
    <ul class='text-center'>
        <li>Presidents: Isabela Londono & Dylan McCreesh</li>
        <li>Vice-President: Brandon Locke</li>
        <li>Treasurer/Fundraising: Emma McDevitt</li>
        <li>Secretary of Attendance: Prateeksha Garlapad</li>
        <li>Secretary of Outreach: Jessica Moylan</li>
        <li>STEAM Coordinator: Gianna Antonacci, Amna Hashmi, and Krishna Palempalli</li>
        <li>Middle School Tutoring Coordinators: Micheal Gannon and Emily Penna</li>
        

    </ul>
    
{%endblock content%}
