{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href='../../static/users/css/index.css'>
    <link rel="stylesheet" href='../../static/users/css/tailwind.css'>

    {%block styles%}
    {%endblock styles%}

    <title>MHS • Home</title>


</head>

<body>
    <div class="navigation-wrap bg-grey2 start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-dark">

                        <a href="#" class="navbar-brand">SHSE Math Honor Society </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 ">
                                    <a class="nav-link" href="{% url 'index' %}"><p class='text-white'>Home</p></a>
                                </li>
                               
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="{% url 'forms' %}"><p class='text-white'>Forms</p></a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#"><p class='text-white'>Announcements</p></a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false"><p class='text-white'>Gallery</p></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#"><p class='text-white'>2016-2017</p></a>
                                        <a class="dropdown-item" href="#"><p class='text-white'>2017-2018</p></a>
                                        <a class="dropdown-item" href="#"><p class='text-white'>2018-2019</p></a>

                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#"><p class='text-white'>Important Dates</p></a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="{% url 'signup' %}"><p class='text-white'>Tutoring Sign Up</p></a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false"><p class='text-white' onclick='window.location.href="{% url 'contact' %}"'>Contact</p></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'contactGeneral' %}"><p class='text-white'>General Contact</p></a>
                                        <a class="dropdown-item" href="{% url 'contactTechnical' %}"><p class='text-white'>Technical Contact</p></a>

                                    </div>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    

    {%block content%}

    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>


    {%block scripts%}
    <script src="../../../static/users/js/index.js"></script>

    {%endblock scripts%}

    <style>
        body{
            font-family: "Poppins";
            
            
            
        }
    </style>
</body>

</html>