{% extends 'users/base.html' %}

{%block content%}


    <h1 class="text-6xl text-center mt-24 text-white"><strong>Contact</strong></h1>
    <center><p class='text-center md:max-w-5xl sm:mx-20 mt-4 text-white mx-3'>For general contact about the team, meetings, events, tutoring, or most other topics, USE our <u>General Contact</u> form. <br>For issues with the website, tutoring signups, or anything related to that, please use the <u>Technical Support</u> form.</p>
    <p class=' text-center md:max-w-5xl sm:mx-20 mt-4 text-white mx-3'>To contact our Co-Presidents directly, email their school accounts, dm28@smithtown.k12.ny.us and il5@smithtown.k12.ny.us.</p>
    </center>
    </p>

    {% if user.is_authenticated %}
    <center> <button id='forms-btn'
        class='transition bg-blue1 hover:bg-blue2 text-white py-2 px-4 rounded-xl mt-10 mb-36'
        onclick="window.location.href='{% url 'feedback' %}'">
        <p class='text-white font-semibold'>Go to Feedback</p>
    </button>
</center>
    {% endif %}

    <style>
        body{
            background-color: #272727;
        }
    </style>

    {% include "users/footer.html" %}

    {%endblock content%}