{% extends 'users/base.html' %}

{%block content%}


    <h1 class="text-6xl text-center mt-24 text-white"><strong>Confirm</strong></h1>
    <center><p class='text-center md:max-w-5xl sm:mx-20 mt-4 text-white mx-3'>Are you sure you would like to delete this date group</p></center>

    <form method='POST'>
        {% csrf_token %}
        <center><button type='submit' style='background: red;' id='forms-btn' class='ml-5 mt-10 transition bg-red-500 hover:bg-blue2 text-white py-2 px-4 rounded-lg'>
            <p class='text-white font-semibold' >Delete</p>
        </button>
    </center>
    </form>


    <style>
        body{
            background-color: #272727;
        }
    </style>


    {%endblock content%}