<link rel="stylesheet" href='../../static/users/css/tailwind.css'>



<h2 class="relative text-4xl font-extrabold tracking-tight sm:text-5xl text-white mt-24 text-center">General Feedback</h2>

<!-- component -->
<section  class="container mx-auto p-6">
    <div  class="w-full mb-8 overflow-hidden rounded-lg">
      <div class="w-full overflow-x-auto">
        <table class="w-full bg-grey1">
          <thead>
            <tr style='color: white;' class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase">
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Email</th>
              <th class="px-4 py-3">Message</th>
              <th class="px-4 py-3">Date</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            {% for feedback in feedback %}
            {% if not feedback.isTechnical %}
            <tr style='color: white;'>
              <td  class="px-4 py-3">
                <div class="flex items-center text-sm">
                  
                  <div>
                    <p class="font-semibold text-black">{{feedback.first_name}} {{feedback.last_name}}</p>
                    <p class="text-xs text-gray-600">{{feedback.person}}</p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-ms font-semibold ">{{feedback.email}}</td>
              <td class="px-4 py-3 text-xs ">
                <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm"> {{feedback.message}} </span>
              </td>
              <td class="px-4 py-3 text-sm ">{{feedback.date}}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  



  
<h1 style='color: white;' class="text-6xl text-center mt-24 text-white" ><strong>Technical Feedback</strong></h1>

<!-- component -->
<section  class="container mx-auto p-6">
  <div  class="w-full mb-8 overflow-hidden rounded-lg ">
    <div class="w-full overflow-x-auto">
      <table class="w-full bg-grey1">
        <thead>
          <tr style='color: white;' class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase">
            <th class="px-4 py-3">Name</th>
            <th class="px-4 py-3">Email</th>
            <th class="px-4 py-3">Message</th>
            <th class="px-4 py-3">Date</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          {% for feedback in feedback %}
          {% if feedback.isTechnical %}
          <tr style='color: white;'>
            <td  class="px-4 py-3">
              <div class="flex items-center text-sm">
                
                <div>
                  <p class="font-semibold text-black">{{feedback.first_name}} {{feedback.last_name}}</p>
                  <p class="text-xs text-gray-600">{{feedback.person}}</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-ms font-semibold ">{{feedback.email}}</td>
            <td class="px-4 py-3 text-xs ">
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm"> {{feedback.message}} </span>
            </td>
            <td class="px-4 py-3 text-sm ">{{feedback.date}}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
  


  <style>
    body{
        background-color: #272727;
    }
</style>