<!-- component -->
<footer class="footer relative pt-1 border-blue-700 rounded-xl"  style='background-color: #0f0f11;'>
    <div class="container mx-auto px-6 text-white" >

        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col">
                    <span class="font-bold text-gray-700 uppercase mb-2 mt-4 sm:mt-0">Navigate</span>
                    <span class="my-2"><a href="{% url 'index' %}" class="transition text-blue-700  text-md hover:text-blue-500">Home</a></span>
                    <span class="my-2"><a href="{% url 'forms' %}" class="transition text-blue-700  text-md hover:text-blue-500">Forms</a></span>
                    <span class="my-2"><a href="{% url 'announcements' %}" class="transition text-blue-700  text-md hover:text-blue-500">Posts</a></span>
                    <span class="my-2"><a href="{% url 'dates' %}" class="transition text-blue-700  text-md hover:text-blue-500">Important Dates</a></span>
                    <span class="my-2"><a href="{% url 'signup' %}" class="transition text-blue-700  text-md hover:text-blue-500">MS Tutoring Sign Up</a></span>
                    <span class="my-2"><a href="{% url 'login' %}" class="transition text-blue-700  text-md hover:text-blue-500">Admin</a></span>
                    <span class="my-2"><a href="https://jpdigital.info" class="transition text-blue-700  text-md hover:text-blue-500">Developer</a></span>



                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-gray-700 uppercase md:mt-0 mb-2 mt-4 sm:mt-0">Gallery</span>
                    <span class="my-2"><a href="#" class="transition text-blue-700 text-md hover:text-blue-500">2016-2017</a></span>
                    <span class="my-2"><a href="#" class="transition text-blue-700  text-md hover:text-blue-500">2017-2018</a></span>
                    <span class="my-2"><a href="#" class="transition text-blue-700 text-md hover:text-blue-500">2018-2019</a></span>
                    
                    
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-gray-700 uppercase md:mt-0 mb-2 mt-4 sm:mt-0">Contact</span>
                    <span class="my-2"><a href="{% url 'contactGeneral' %}" class="transition text-blue-700  text-md hover:text-blue-500">General Contact</a></span>
                    <span class="my-2"><a href="{% url 'contactTechnical' %}" class="transition text-blue-700  text-md hover:text-blue-500">Technical Contact</a></span>
                   
                    

                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-16 border-t-2 border-white flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-blue-700 font-bold mb-2 text-white">
                    © 2021 Smithtown High School East Math Honor Society • Developed By Jack Patterson
                </p>
            </div>
        </div>
    </div>
</footer>