{% extends 'users/base.html' %}

{%block content%}


<h2 class="relative text-4xl font-extrabold tracking-normal sm:text-5xl text-white mt-28 text-center">General Contact Form</h2>
    <center><p class="text-xl text-white mt-3">Fill out this form to contact the officers</p></center>

    <div class='md:mx-0 mx-4'>

    <!-- component -->
<form class="w-full max-w-lg mx-auto mt-16" method='POST' data-aos="smooth" data-aos-easing="ease-in-out-cubic">
    {% csrf_token %}
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-first-name">
          First Name
        </label>
        {{form.first_name}}
        <!-- <input class="appearance-none block w-full bg-grey1 text-white rounded-lg py-3 px-4 text-white leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-first-name" type="text"> -->
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block  uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-last-name">
          Last Name
        </label>
        {{form.last_name}}
        <!-- <input class="appearance-none block w-full bg-grey1  rounded-lg py-3 px-4 text-white leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text"> -->
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-password">
          E-mail
        </label>
        {{form.email}}
        <!-- <input class="appearance-none block w-full bg-grey1 text-gray-700 rounded-lg py-3 px-4 text-white leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email" type="email"> -->
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2 " for="grid-password">
          Message
        </label>
        {{form.message}}
        <!-- <textarea class=" no-resize appearance-none block w-full bg-grey1 text-gray-700 rounded-lg py-3 px-4 text-white leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" id="message"></textarea> -->
      </div>
    </div>
    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2 " for="grid-password">
        I Am...
      </label>
      <div class='hidden'>
    {{form.person}}
    </div>

    <input class="inp-cbx" id="cbx1" type="checkbox" style="display: none;"/>
    <label class="cbx" for="cbx1"><span>
        </span><span class='text-white'>Prospective Member</span></label>
    <br>
    <input class="inp-cbx" id="cbx2" type="checkbox" style="display: none;"/>
    <label class="cbx" for="cbx2"><span>
        </span><span class='text-white'>Current Member</span></label>
        <br>
        <input class="inp-cbx" id="cbx3" type="checkbox" style="display: none;"/>
    <label class="cbx" for="cbx3"><span>
        </span><span class='text-white'>Parent</span></label>
<br>
    <input class="inp-cbx" id="cbx4" type="checkbox" style="display: none;"/>
    <label class="cbx" for="cbx4"><span>
        </span><span class='text-white'>Just Interested</span></label>
<br>
        <input class="inp-cbx" id="cbx5" type="checkbox" style="display: none;"/>
        <label class="cbx" for="cbx5"><span>
            </span><span class='text-white'>Other</span></label>
    
    <div class="">
      <div>
        
        <button id='forms-btn' type='submit'
                        class='w-full transition bg-blue1 hover:bg-blue2 text-white py-2 px-4 rounded-lg  mt-2'>
                        <p class='text-white font-semibold '>Send</p>
                    </button>
      </div>
    </div>
  </form>

    
</div>
    <style>
        body{
            background-color: #1f1f1f;
        }

        .cbx {
          -webkit-user-select: none;
          user-select: none;
          -webkit-tap-highlight-color: transparent;
          cursor: pointer;
          }
          .cbx span {
          display: inline-block;
          vertical-align: middle;
          transform: translate3d(0, 0, 0);
          }
          .cbx span:first-child {
          position: relative;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          transform: scale(1);
          vertical-align: middle;
          border: 1px solid #B9B8C3;
          transition: all 0.2s ease;
          }
          
          .cbx span:first-child:before {
          content: "";
          width: 100%;
          height: 100%;
          background: #0057c4;
          display: block;
          transform: scale(0);
          opacity: 1;
          border-radius: 50%;
          transition-delay: 0.2s;        
          }
          .cbx span:last-child {
          margin-left: 8px;
          }
          .cbx span:last-child:after {
          content: "";
          position: absolute;
          top: 8px;
          left: 0;
          height: 1px;
          width: 100%;
          background: #B9B8C3;
          transform-origin: 0 0;
          transform: scaleX(0);
          }
          .cbx:hover span:first-child {
          border-color: #0057c4;
          }
          
          .inp-cbx:checked + .cbx span:first-child {
          border-color: #0057c4;
          background: #0057c4;
          animation: check 0.6s ease;
          }
          .inp-cbx:checked + .cbx span:first-child svg {
          stroke-dashoffset: 0;
          }
          .inp-cbx:checked + .cbx span:first-child:before {
          transform: scale(2.2);
          opacity: 0;
          transition: all 0.6s ease;
          }
          
          
          
          @keyframes check {
          50% {
            transform: scale(1.2);
          }
          }
        
    </style>

    <script>
      $(document).ready(function(){
          $('#cbx1').prop( "checked", true );
          $('#cbx2').prop( "checked", false );
          $('#cbx3').prop( "checked", false );
          $('#cbx4').prop( "checked", false );
          $('#cbx5').prop( "checked", false );
      })
      $('#cbx1').click(function() {
        if($(this).is(':checked')) {
          ($( "input" ).get( 4 ).checked = true);
          $('#cbx2').prop( "checked", false );
          $('#cbx3').prop( "checked", false );
          $('#cbx4').prop( "checked", false );
          $('#cbx5').prop( "checked", false );
        }
      })
      $('#cbx2').click(function() {
        if($(this).is(':checked')) {
          ($( "input" ).get( 5 ).checked = true);

          $('#cbx1').prop( "checked", false );
          $('#cbx3').prop( "checked", false );
          $('#cbx4').prop( "checked", false );
          $('#cbx5').prop( "checked", false );
        }
      });
      $('#cbx3').click(function() {
        if($(this).is(':checked')) {
          ($( "input" ).get( 6 ).checked = true);

          $('#cbx1').prop( "checked", false );
          $('#cbx2').prop( "checked", false );
          $('#cbx4').prop( "checked", false );
          $('#cbx5').prop( "checked", false );
        }
      });

      $('#cbx4').click(function() {
        if($(this).is(':checked')) {
          ($( "input" ).get( 7 ).checked = true);

          $('#cbx1').prop( "checked", false );
          $('#cbx2').prop( "checked", false );
          $('#cbx3').prop( "checked", false );
          $('#cbx5').prop( "checked", false );
        }
      });

      $('#cbx5').click(function() {
        if($(this).is(':checked')) {
          ($( "input" ).get( 8 ).checked = true);

          $('#cbx1').prop( "checked", false );
          $('#cbx2').prop( "checked", false );
          $('#cbx3').prop( "checked", false );
          $('#cbx4').prop( "checked", false );
        }
      });

    </script>
<div class='mt-20'>
    {% include "users/footer.html" %}
    </div>

    {%endblock content%}