{% extends 'users/base.html' %}

{%block content%}
<div class="floatbg">
  <ul class="icobg">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div style='top: 1500px;' class='absolute md:h-full h-1/2 ' id='plus-bg' data-jsuplxdir="bottom" data-jsuplxperspective="300">
  <img src='https://vectr.com/tmp/d2jTlDjwu1/a2HmhqBHFh.svg?width=640&height=640&select=a2HmhqBHFhpage0'>
</div>

<div style='top: 2500px;' class='absolute md:h-full h-1/2 right-0' id='plus-bg' data-jsuplxdir="bottom" data-jsuplxperspective="300">
  <img src='https://vectr.com/tmp/d2jTlDjwu1/b3Nzrs0hq.svg?width=640&height=640&select=b3Nzrs0hqpage0'>
</div>

<div style='top: 3500px;' class='absolute md:h-full h-1/2' id='plus-bg' data-jsuplxdir="bottom" data-jsuplxperspective="300">
  <img src='https://vectr.com/tmp/d2jTlDjwu1/d2vC1jejio.svg?width=640&height=640&select=d2vC1jejiopage0'>
</div>

<section class='xl:max-w-screen-2xl lg:max-w-screen-lg mx-auto'>

  <center>
    <div class="lg:flex lg:justify-between lg:flex-wrap lg:overflow-hidden md:px-10">

      <div id='main-txt' class="sm:w-2/3 lg:w-1/2 xl:w-1/2 mx-10 sm:mx-0">
        <div class='lg:mt-80 sm:mt-20 mt-20 pt-10 text-center' data-aos="smooth" data-aos-easing="ease-in-out-cubic">
          <h1 class=' xl:text-7xl text-5xl lg:text-left lg:mx-0 ld:mx-10 text-white'><strong>Welcome to the
              <br><span class='text-blue1'>SHSE Math Honor Society</span></strong></h1>
        </div>
      </div>

      <div class="w-1/2 sm:w-full md:w-2/3 lg:w-1/2 xl:w-1/2 " data-aos="smooth" data-aos-easing="ease-in-out-cubic">
        <img src='../../static/users/images/logo.png' id='main-img'
          class='transform hover:scale-105 transition duration-500'>

      </div>

    </div>
  </center>
  <div class='sub-btn sm:mt-10 md:mt-10 pb-20 lg:ml-10' data-aos="smooth4" data-aos-easing="ease-in-out-cubic">
    <button id='scrollBtn' class='transition bg-blue1 hover:bg-blue2 text-white py-2 pl-8 pr-6 rounded-full mt-3'>
      <div class='flex'>
        <p class='text-white font-semibold mr-3'>Scroll Down</p>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13l-5 5m0 0l-5-5m5 5V6" />
        </svg>
      </div>
    </button>
  </div>
  </div>
  </div>
</section>


<section id='about' data-aos="smooth" data-aos-easing="ease-in-out-cubic">
  <div class='mt-60'>
    <!-- Section 1 -->
    <section class="w-full py-12 lg:py-24">
      <div class="max-w-6xl px-12 mx-auto text-center">

        <div class="space-y-12 md:text-center">
          <div class="max-w-3xl mb-20 space-y-5 sm:mx-auto sm:space-y-4">
            <h2 class="relative text-4xl font-extrabold tracking-tight sm:text-5xl text-white">About Us</h2>
            <p class="text-xl text-white">We are Smithtown East Math Honor Society,
              the largest club in High School East. We help the school and community through activities and events
              such as tutoring at the elementary, middle and high school levels.</p>
          </div>
        </div>

        <div class="text-white grid grid-cols-1 gap-10 sm:grid-cols-2 mb-10">

          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth" data-aos-easing="ease-in-out-cubic"
              class="rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium mt-3">Mrs. Boccio-McComb</h2>
                <p class="font-medium text-blue-500">Mentor</p>
              </div>
            </div>

          </div>
          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth2" data-aos-easing="ease-in-out-cubic"
              class="rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">
              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium mt-3">Mrs. Schoepflin</h2>
                <p class="font-medium text-blue-500">Mentor</p>
              </div>
            </div>

          </div>
        </div>

        <div class="text-white grid grid-cols-1 gap-10 sm:grid-cols-2  mb-10">

          <div class='transform hover:scale-105 transition duration-500 '>
            <div data-aos="smooth" data-aos-easing="ease-in-out-cubic"
              class="rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium">Isabela Londono</h2>
                <p class="font-medium text-blue-500">President</p>
                <p class="text-gray-400">[ GRADE ]
                </p>
              </div>
            </div>

          </div>
          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth" data-aos-easing="ease-in-out-cubic"
              class=" rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium">Dylan McCreesh</h2>
                <p class="font-medium text-blue-500">President</p>
                <p class="text-gray-400">[ GRADE ]
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="text-white grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3">

          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth" data-aos-easing="ease-in-out-cubic"
              class=" rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium">Brandon Locke</h2>
                <p class="font-medium text-blue-500">Vice President</p>
                <p class="text-gray-400">[ GRADE ]
                </p>
              </div>
            </div>

          </div>
          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth" data-aos-easing="ease-in-out-cubic" data-aos-delay="50"
              class=" rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium">Emma McDevitt</h2>
                <p class="font-medium text-blue-500">Treasurer/Fundraising</p>
                <p class="text-gray-400">[ GRADE ]
                </p>
              </div>
            </div>
          </div>

          <!-- TODO: Hover scaling does not work on this one -->
          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth3" data-aos-easing="ease-in-out-cubic" data-aos-delay="100"
              class=" rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium">Prateeksha Garlapad</h2>
                <p class="font-medium text-blue-500">Secretary of Attendance</p>
                <p class="text-gray-400">[ GRADE ]
                </p>
              </div>
            </div>

          </div>
          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth2" data-aos-easing="ease-in-out-cubic" data-aos-delay="50"
              class=" rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium">Jessica Moylan</h2>
                <p class="font-medium text-blue-500">Secretary of Outreach</p>
                <p class="text-gray-400">[ GRADE ]
                </p>
              </div>
            </div>

          </div>
          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth3" data-aos-easing="ease-in-out-cubic" data-aos-delay="100"
              class=" rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium">Gianna Antonacci</h2>
                <p class="font-medium text-blue-500">STEAM Coordinator</p>
                <p class="text-gray-400">[ GRADE ]
                </p>
              </div>
            </div>

          </div>
          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth4" data-aos-easing="ease-in-out-cubic" data-aos-delay="150"
              class=" rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium mt-2">Amna Hashmi</h2>
                <p class="font-medium text-blue-500">STEAM Coordinator</p>
                <p class="text-gray-400">[ GRADE ]
                </p>
              </div>

            </div>
          </div>


          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth4" data-aos-easing="ease-in-out-cubic" data-aos-delay="150"
              class=" rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10 pt-14 pb-6">
                <h2 class="text-lg font-medium">Krishna Palempalli</h2>
                <p class="font-medium text-blue-500">Middle School Tutoring</p>
                <p class="text-gray-400">[ GRADE ]
                  <p class="font-medium text-blue-500 invisible">Middle School Tutoring</p>
                </p>
              </div>
            </div>

          </div>


          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth4" data-aos-easing="ease-in-out-cubic" data-aos-delay="150"
              class=" rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium">Micheal Gannon</h2>
                <p class="font-medium text-blue-500">Middle School Tutoring Coordinators</p>
                <p class="text-gray-400">[ GRADE ]
                </p>
              </div>
            </div>

          </div>

          <div class='transform hover:scale-105 transition duration-500'>
            <div data-aos="smooth5" data-aos-easing="ease-in-out-cubic" data-aos-delay="200"
              class="rounded-lg shadow-sm bg-grey1 transition hover:bg-blue2">

              <div class="flex flex-col items-center justify-center p-10">
                <h2 class="text-lg font-medium">Emily Penna</h2>
                <p class="font-medium text-blue-500">Middle School Tutoring Coordinators</p>
                <p class="text-gray-400">[ GRADE ]
                </p>
              </div>
            </div>


          </div>



        </div>

      </div>
    </section>
  </div>
  </div>
  </center>



  </div>
</section>


<div class=" px-4 xl:max-w-screen-2xl lg:max-w-screen-lg mx-auto">
  <div class="pt-10 md:pt-40">
    <div class="lg:container max-w-6xl mx-auto px-4 kg:px-0 lg:mx-0">
      <div class="md:flex  items-center pb-12">
        <div class="md:w-1/2 lg:w-2/3 w-full xl:pr-20 md:pr-6">
          <div class="py-2 text-color" data-aos="smooth" data-aos-easing="ease-in-out-cubic">
            <h1 role="heading" class="relative text-4xl font-extrabold tracking-tight sm:text-5xl text-white">Cillum sit
              reprehenderit qui ipsum tempor occaecat exercitation.</h1>
            <p role="contentinfo" class="text-lg lg:text-xl lg:leading-7 md:leading-10 f-f-r py-4 md:py-8 text-white">Enim irure
              aute cillum commodo. Eiusmod ipsum velit consequat ea eiusmod. Aute mollit ullamco elit quis irure sunt
              et. Cupidatat laboris culpa nisi irure excepteur anim et. Aliquip quis enim magna aliqua mollit esse
              commodo aute eu Lorem amet nostrud quis. Incididunt deserunt in mollit minim enim. Ex amet deserunt veniam
              et sunt proident ullamco mollit nisi consectetur.</p>

          </div>
        </div>
        <div class="lg:w-1/3 md:w-1/2 w-full relative h-96 flex items-end justify-center " data-aos="smooth2"
          data-aos-easing="ease-in-out-cubic">
          <img
            class="absolute w-full h-full inset-0 object-cover object-center rounded-lg transform hover:scale-105 transition duration-500"
            src="https://shsemhs.files.wordpress.com/2017/01/img_2750.jpg?w=NaN&h=" role="img" />
        
        </div>
      </div>
    </div>
  </div>
  <div class="pt-10 md:pt-16 ">
    <div class="lg:container max-w-6xl mx-auto px-4 kg:px-0 lg:mx-0">
      <div class="md:flex flex-row-reverse items-center pb-12">
        <div class="md:w-1/2 lg:w-2/3 w-full xl:pl-20 md:pl-6">
          <div class="py-2 text-color" data-aos="smooth" data-aos-easing="ease-in-out-cubic">
            <h1 role="heading" class="relative text-4xl font-extrabold tracking-tight sm:text-5xl text-white">Cillum sit
              reprehenderit qui ipsum tempor occaecat exercitation.</h1>
            <p role="contentinfo" class="text-lg lg:text-xl lg:leading-7 md:leading-10 f-f-r py-4 md:py-8 text-white">Enim irure
              aute cillum commodo. Eiusmod ipsum velit consequat ea eiusmod. Aute mollit ullamco elit quis irure sunt
              et. Cupidatat laboris culpa nisi irure excepteur anim et. Aliquip quis enim magna aliqua mollit esse
              commodo aute eu Lorem amet nostrud quis. Incididunt deserunt in mollit minim enim. Ex amet deserunt veniam
              et sunt proident ullamco mollit nisi consectetur.</p>
          </div>
        </div>
        <div class="lg:w-1/3 md:w-1/2 w-full relative h-96 flex items-end justify-center " data-aos="smooth2"
          data-aos-easing="ease-in-out-cubic">
          <img
            class="absolute w-full h-full inset-0 object-cover object-center rounded-lg transform hover:scale-105 transition duration-500"
            src="https://shsemhs.files.wordpress.com/2017/01/img_2766.jpg?w=NaN&h=" role="img" />
        
      </div>
    </div>
  </div>
</div>

<!-- 
<section>
  <div class='mt-60'>
    <div data-aos="open" data-aos-easing="ease-in-out-cubic" class=" px-12 mx-auto text-center bg-blue1 p-20">
      <div class="space-y-12 md:text-center" data-aos="smooth5" data-aos-easing="ease-in-out-cubic">
        <div class="max-w-3xl mb-20 space-y-5 sm:mx-auto sm:space-y-4">
          <h2 class="relative text-4xl font-extrabold tracking-tight sm:text-5xl text-white">MHS Inductees</h2>
          <p class="text-xl text-white">For the 2021 MHS Induction
            Ceremony, both members inducted at the end of 2020 and members inducted in 2021 will be honored! A list
            of the inductees (separated by year of induction) is included below. Congratulations to each and
            everyone one of you!</p>
        </div>
      </div>

      <div class="md:flex md:justify-center md:pr-4">
        <div class='transform hover:scale-105 transition duration-500'>

        <center> <button data-aos="smooth5" data-aos-easing="ease-in-out-cubic"
            class='transition bg-white  py-3 px-5 rounded-xl mt-2 md:mr-6'
            onclick="window.location.href='https://shsemhs.files.wordpress.com/2020/09/prospective-member-application-google-docs.pdf'">
            <p class=' font-semibold text-xl'>View 2020 Inductees</p>
          </button>
        </center>
        </div>
        <div class='transform hover:scale-105 transition duration-500'>

        <center> <button data-aos="smooth5" data-aos-easing="ease-in-out-cubic"
            class='transition bg-white py-3 px-5 rounded-xl mt-2 md:ml-6 '
            onclick="window.location.href='https://shsemhs.files.wordpress.com/2020/09/prospective-member-application-google-docs.pdf'">
            <p class=' font-semibold text-xl '>View 2021 Inductees</p>
          </button>
        </center>
        </div>
      </div> -->

<div class="mx-auto py-12 mt-40" data-aos="smooth" data-aos-easing="ease-in-out-cubic">
  <div class="w-full flex justify-center">
    <div id='expand-div'
      class="w-full lg:mx-4 bg-gradient-to-r from-blue1 to-blue2 md:py-8 md:px-8 py-4 xl:px-12 xl:py-16 rounded-xl">
      <div>
        <div class="flex flex-wrap items-center md:flex-row flex-col-reverse">
          <div
            class="md:w-2/3 w-full md:pb-0 md:pr-6 flex-col md:block flex items-center justify-center md:pt-0 pt-4">
            <div>
              <h1 role="heading" id='ind-head'
                class="text-xl md:text-2xl lg:text-4xl xl:text-5xl lg:w-10/12 text-white font-black leading-tight md:mx-0 mx-6">
                Here are the new MHS inductees for 2020 and 2021</h1>
            </div>
            <div class='mt-12 '>
              <div class='transform hover:scale-105 transition duration-500'>
              <button data-aos="smooth" role="button" 
                class="md:mr-3 mt-5 lg:mt-12 py-3 lg:py-4 px-4 lg:px-6 bg-white font-bold rounded-lg text-sm lg:text-lg xl:text-xl border-white border-2 ring-opacity-0 "><p>View
                2021 Inductees</button>
            </div>
            </div>
          </div>
          <div class="md:w-1/3 w-full">
            <div class="flex md:flex-col items-center justify-center">
              <div class="flex items-center" aria-label="group of images" role="img">
                <div class="xl:w-20 lg:h-14 lg:w-14 w-10 h-10 xl:h-20 rounded-full md:mr-3">
                  <img class="w-full h-full" src="https://cdn.tuk.dev/assets/templates/prodify/avatar(1).png"
                    alt="avatar image" data-aos="grow2" data-aos-easing="ease-in-out-cubic" data-aos-delay="100ms" />
                </div>
                <div class="xl:w-20 lg:h-14 lg:w-14 w-10 h-10 xl:h-20 rounded-full">
                  <img class="w-full h-full" src="https://cdn.tuk.dev/assets/templates/prodify/avatar(2).png"
                    alt="avatar image" data-aos="grow2" data-aos-easing="ease-in-out-cubic" data-aos-delay="100ms" />
                </div>
              </div>
              <div class="flex items-center md:mt-4">
                <div class="xl:w-20 lg:h-14 lg:w-14 w-10 h-10 xl:h-20 rounded-full md:mr-3">
                  <img class="w-full h-full" src="https://cdn.tuk.dev/assets/templates/prodify/avatar(1).png"
                    alt="avatar image" data-aos="grow2" data-aos-easing="ease-in-out-cubic" data-aos-delay="100ms" />
                </div>
                <div class="xl:w-20 lg:h-14 lg:w-14 w-10 h-10 xl:h-20 rounded-full md:mr-3">
                  <img class="w-full h-full" src="https://cdn.tuk.dev/assets/templates/prodify/avatar(2).png"
                    alt="avatar image" data-aos="grow" data-aos-delay="200ms" />
                </div>
                <div class="xl:w-20 lg:h-14 lg:w-14 w-10 h-10 xl:h-20 rounded-full">
                  <img class="w-full h-full" src="https://cdn.tuk.dev/assets/templates/prodify/avatar(3).png"
                    alt="avatar image" data-aos="grow2" data-aos-easing="ease-in-out-cubic" data-aos-delay="100ms" />
                </div>
              </div>
              <div class="flex items-center md:mt-4">
                <div class="xl:w-20 lg:h-14 lg:w-14 w-10 h-10 xl:h-20 rounded-full md:mr-3">
                  <img class="w-full h-full" src="https://cdn.tuk.dev/assets/templates/prodify/avatar(1).png"
                    alt="avatar image" data-aos="grow2" data-aos-easing="ease-in-out-cubic" data-aos-delay="100ms" />
                </div>
                <div class="xl:w-20 lg:h-14 lg:w-14 w-10 h-10 xl:h-20 rounded-full">
                  <img class="w-full h-full" src="https://cdn.tuk.dev/assets/templates/prodify/avatar(3).png"
                    alt="avatar image" data-aos="grow2" data-aos-easing="ease-in-out-cubic" data-aos-delay="100ms" />
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

     
    
  </div>






  <!-- <div class="flex justify-between flex-wrap mx-auto overflow-hidden max-w-6xl">
        <div class='mt-20 sm:ml-20'>
          <h1 class='text-white text-4xl font-semibold mb-10'>2020</h1>


          <ul class='text-white mb-20'>
            <li>Sydney Anderson</li>
            <li>Simritha Bandaru</li>
            <li>Leigh Barratta</li>
            <li>Mackenzie Barrett</li>
            <li>Cailey Bobadilla</li>
            <li>Ethan Cain</li>
            <li>Bridget Campanelli</li>
            <li>Johnathon Chung</li>
            <li>Sofia Colucci</li>
            <li>Nicholas Conte</li>
            <li>Alayna Costa</li>
            <li>Cassandra Dawson</li>
            <li>Elizabeth DeFilippis</li>
            <li>Brandon Depka</li>
            <li>Emily Desmond</li>
            <li>Paige Doherty</li>
            <li>Lindsey Douglas</li>
            <li>Brian Dowling</li>
            <li>Zach Finger</li>
            <li>Jacquelyn Gorman</li>
            <li>Colin Hanley</li>
            <li>Sammy Hannwacker</li>
            <li>Ethan Hecht</li>
            <li>Justin Hippler</li>
            <li>Philip Impastato</li>
            <li>Emma Khan</li>
            <li>Alexander Khan</li>
            <li>Dan Kinahan</li>
            <li>Tyler King</li>
            <li>Taylor Koehler</li>
            <li>Srikar Konkanchi</li>
            <li>Bianca Kusko</li>
            <li>Julia Kusko</li>
            <li>Brandon Lam</li>
            <li>Anthony Laviola</li>
            <li>Spencer Lebit</li>
            <li>Vivianne Lee</li>
            <li>Parker Lehner</li>
            <li>Angelina Lent</li>
            <li>Andrew Levine</li>
            <li>Jack Lombardi</li>
            <li>Abhiram Marisetti</li>
            <li>Jack Marti</li>
            <li>Nikhil Mehta</li>
            <li>Samantha Micozzi</li>
            <li>Lexi Milburn</li>
            <li>Aman Mistry</li>
            <li>Amanda Moghadasi</li>
            <li>Kara Morales</li>
            <li>Tyler Murray</li>
            <li>Max Nadelson</li>
            <li>Matthew Nestor</li>
            <li>Matthew Neto</li>
            <li>Emma Ostermann</li>
            <li>Will Park</li>
            <li>Jaqueline Pedley</li>
            <li>Ryan Petrat</li>
            <li>Sean Popick</li>
            <li>Ashley Prevet</li>
            <li>Jenna Prevet</li>
            <li>Sofia Ragona</li>
            <li>Deven Ramchandran</li>
            <li>Srivaths Ravva</li>
            <li>Jordan Romano</li>
            <li>Noah Rosenblatt</li>
            <li>Antonio Sabatino</li>
            <li>Sarada Sakthivadivel</li>
            <li>Emily Schrier</li>
            <li>Sarah Schubel</li>
            <li>Ella Schwartz</li>
            <li>Jason Scmideler</li>
            <li>Dylan Serino</li>
            <li>Jacqueline Shaffer</li>
            <li>Maddy Signorile</li>
            <li>Jenna Sollecito</li>
            <li>Olga Suleymanova</li>
            <li>Connor Syrbe</li>
            <li>Genevieve Talento</li>
            <li>Alec Tehranian</li>
            <li>Jake Thomson</li>
            <li>Sarah Tufo</li>
            <li>Lorraine Valenzano</li>
            <li>Kerrick Wille</li>
            <li>Nethmi Withange</li>
            <li>Matthew Zodda</li>
            <li>Payton Zografakis</li>


          </ul>

        </div>
        <div class='mt-20 sm:mr-20'>
          <h1 class='text-white text-4xl font-semibold mb-10'>2021</h1>
          <ul class='text-white'>
            <li>Rebecca Albahae</li>
            <li>Jennifer Amzler</li>
            <li>Sophia Augier</li>
            <li>Charles Bassani</li>
            <li>James Bryceland</li>
            <li>Samantha Bryceland</li>
            <li>Tejas Chandra</li>
            <li>Peyton Cozine</li>
            <li>Emerson Cozine</li>
            <li>Joseph DiMino</li>
            <li>Andrew Epstein</li>
            <li>Nicole Fagan</li>
            <li>Natalie Farrell</li>
            <li>Olivia Farrell</li>
            <li>Caylee Fesinstine</li>
            <li>Gianna Festa</li>
            <li>Alexander Frankenberger</li>
            <li>Victoria Geyer</li>
            <li>Sophia Giglio</li>
            <li>Caileigh Harrigan</li>
            <li>Anthie Hionas</li>
            <li>Tula Hionas</li>
            <li>Elisha Kong</li>
            <li>Shruthi Kumar</li>
            <li>Sophia Lam</li>
            <li>Giovanna Lombardi</li>
            <li>Nicholas Londono</li>
            <li>Ryan McKee</li>
            <li>Chris Meyer</li>
            <li>Makenna Morton</li>
            <li>Vail Muller</li>
            <li>Lauren Muscarella</li>
            <li>Mattie Naples</li>
            <li>Shriya Patel</li>
            <li>Karsten Pergan</li>
            <li>Madison Pirreca</li>
            <li>Jaclyn Roach</li>
            <li>Talia Scheffer</li>
            <li>Ryan Seltzer</li>
            <li>Jessica Sucharski</li>
            <li>Luke Surrusco</li>
            <li>Morgan Tengalia</li>
            <li>Theodore Thompson</li>
            <li>Isabel Tomasino</li>
            <li>Jack Troise</li>
            <li>Anthony Valenzano</li>
            <li>Christine Wilkinson</li>
            <li>Corey Yorke</li>
            <li>Holy Mary Zaher</li>
            <li>Brian Zarnitz</li>
            <li>Jennifer Zhong</li>

            <br>
            <br>
            <br>

          </ul>
        </div> -->
</div>
</center>

</div>
</section>


<style>
  body {
    background-color: #272727;

  }
</style>
<script src="../../static/users/js/parallax.min.js"></script>

<script>
  new vanillaJsuParallax({
      items: document.querySelectorAll('#plus-bg'),
  });
</script>


{% include "users/footer.html" %}




{%endblock content%}