{% extends 'users/base.html' %}

{%block content%}


<h2 class="relative text-4xl font-extrabold tracking-normal sm:text-5xl text-white mt-28 text-center">Inductees</h2>
{% if user.is_authenticated %}
<center> <button id='forms-btn' class='transition bg-blue1 hover:bg-blue2 text-white py-2 px-4 rounded-xl mt-10'
      onclick="window.location.href='{% url 'newInductees' %}'">
      <p class='text-white font-semibold'>Add Inductees</p>
   </button>
</center>
{% endif %}
{% if messages %}
<ul class="messages">
   {% for message in messages %}
   <div id='alert-banner' class='z-50 mt-1 absolute'>
      <div class="text-center py-4 lg:px-4">
         <div style='background: rgb(69, 255, 115);'
            class="p-2 bg-red items-center text-indigo-100 leading-none rounded-full flex lg:inline-flex" role="alert">

            <span class="font-semibold mx-2 text-black text-left flex-auto">{{ message }}</span>
         </div>
      </div>
   </div>
   {% endfor %}
</ul>
{% endif %}
<div class='mt-10'>
   {% for a in inductees %}
   {% if user.is_authenticated %}
   <div class="max-w-3xl mx-auto px-4 sm:px-6 xl:max-w-5xl xl:px-0" data-aos="smooth"
      data-aos-easing="ease-in-out-cubic">
      <main>
         <div class="divide-y divide-gray-200">

            <ul class="divide-y divide-gray-200">
               <li class="py-12">
                  <article class="space-y-2 xl:grid xl:grid-cols-4 xl:space-y-0 xl:items-baseline">

                     <div class="space-y-5 xl:col-span-3">
                        <div class="space-y-6">
                           <h2 class="text-4xl font-bold tracking-normal text-white">{{a.year}}</h2>
                           <div class="prose max-w-none text-gray-500">
                              <div class="prose max-w-none text-white">
                                 <p>{{a.inductees|linebreaks}}</p>
                              </div>
                           </div>
                        </div>
                     </div>

                  </article>
                  {% if user.is_authenticated %}
                  <div class='right-6  pb-10 absolute'>
                     <button onclick='window.location.href=href="{% url 'editInductees' a.pk %}"' id='forms-btn'
                        class='mt-10 transition bg-grey1 hover:bg-blue2 text-white py-2 px-4 rounded-lg'>
                        <p class='text-white font-semibold'>Edit</p>
                     </button>

                     {% endif %}
               </li>
            </ul>
            <hr class='bg-white mt-14'>


            </ul>
         </div>
   </div>
   {% endif %}

   {% if not user.is_authenticated and not a.hide %}
   <div class="max-w-3xl mx-auto px-4 sm:px-6 xl:max-w-5xl xl:px-0" data-aos="smooth"
      data-aos-easing="ease-in-out-cubic">
      <main>
         <div class="divide-y divide-gray-200">

            <ul class="divide-y divide-gray-200">
               <li class="py-12">
                  <article class="space-y-2 xl:grid xl:grid-cols-4 xl:space-y-0 xl:items-baseline">

                     <div class="space-y-5 xl:col-span-3">
                        <div class="space-y-6">
                           <h2 class="text-4xl font-bold tracking-normal text-white">{{a.year}}</h2>
                           <div class="prose max-w-none text-gray-500">
                              <div class="prose max-w-none text-white">
                                 <p>{{a.inductees|linebreaks}}</p>
                              </div>
                           </div>
                        </div>
                     </div>

                  </article>
                  {% if user.is_authenticated %}
                  <div class='right-6  pb-10 absolute'>
                     <button onclick='window.location.href=href="{% url 'editInductees' a.pk %}"' id='forms-btn'
                        class='mt-10 transition bg-grey1 hover:bg-blue2 text-white py-2 px-4 rounded-lg'>
                        <p class='text-white font-semibold'>Edit</p>
                     </button>

                     {% endif %}
               </li>
            </ul>
            <hr class='bg-white mt-14'>
            </ul>
         </div>
   </div>
   {% endif %}

   {% endfor %}

   <div class="container mx-auto flex flex-wrap pt-4 pb-12 max-w-3xl" data-aos="smooth"
   data-aos-easing="ease-in-out-cubic">
   <div class="w-full mx-auto md:w-1/2 md:p-6 flex flex-col flex-grow flex-shrink">
      <div class="flex-1 mx-auto rounded-lg overflow-hidden ">

         <center>
            <div class='flex mx-auto'>
               {% if page_obj.has_previous %}

               <button id='forms-btn'
                  class='transition duration-500 hover:bg-blue1 border-blue1 border-3 text-white py-1 px-1 rounded-xl mb-10 w-36'
                  onclick="window.location.href='?page={{ page_obj.previous_page_number }}'">
                  <p class='text-white text-xl font-semibold'>‎‎‎‎‎‎ Previous </p>
               </button>
               <div class=" mx-3 border-blue1 border-3 text-white py-1 px-1 rounded-xl mb-10 w-36">
                  <center style='margin-top: 2px;'>
                     Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </center>
               </div>

               {% endif %}
               {% if page_obj.has_next %}
               <div class=" mx-3 border-blue1 border-3 text-white py-1 px-1 rounded-xl mb-10 w-36">
                  <center style='margin-top: 2px;'>
                     Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </center>
               </div>
               <button id='forms-btn'
                  class='transition duration-500 hover:bg-blue1 border-blue1 border-3 text-white py-1 px-1 rounded-xl mb-10 w-36'
                  onclick="window.location.href='?page={{ page_obj.next_page_number }}'">
                  <p class='text-white text-xl font-semibold'>‎‎‎‎‎‎ Next </p>
               </button>
               {% endif %}
            </div>
         </center>
      </div>
   </div>

</div>


   {% if messages %}
   <script>
      $.fn.centerMe = function () {
         this.css('left', ($(window).width() / 2 - $(this).width() / 2) - 4);
      };
      window.onload = function () {
         console.log($('#alert-banner').width() / 2)

      }

      $(window).resize(function () {
         $('#alert-banner').centerMe();
      });

      $('#alert-banner').centerMe();
      $('#alert-banner').fadeIn()
      setTimeout(function () {
         $('#alert-banner').fadeOut()
      }, 4000)
   </script>
   {% endif %}

   <style>
      body {
         background-color: #272727;
      }
   </style>

   {% include "users/footer.html" %}

   {%endblock content%}